node_modules
client/node_modules
server/node_modules
client/dist
server/dist
leads.db
*.sqlite
*.sqlite3
*.db
.wwebjs_auth
.wwebjs_cache
.git
.github
.env
.env.*
server/.env
client_secret*.json
*.log
